<nav>
  <div class="nav-container container">
    <div class="nav-brand">
      Company
    </div>
    <div class="nav-links">
      <%= link_to "link1", root_path %>
      <%= link_to "link2", help_path %>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>  
        <%= link_to "Sign Up", new_user_registration_path %>   
      <% end %>
      <%= link_to "Dropdown", help_path, class:"cta" %>
    </div>
  </div>
</nav>