<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= tag :meta, "http-equiv":"Content-Type", content:"text/html; charset=utf-8" %>
    <%= tag :meta, name:"viewport", content:"width=device-width, initial-scale=1" %>
    <!-- Utility  -->
    <%= meta_tag "action", params[:action] %>
    <%= meta_tag "controller", params[:controller] %>
    <!-- SEO -->
    <%= meta_tag "description", yield(:desc) %>
    <!-- Default -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/devise-notify' %>
    <%= render 'shared/nav-main' %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
